.video-featured{
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
}

.video-featured-overlay{
    background-color: #1a4d2e86;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-service , .cta-service-single{
    margin-top: 35px;
}

.features-service{
    border-radius: 5px;
}

/*------------------------*/