.skills-bar{
    margin-bottom: 30px;
}

.skills-bar-bg , .skills-bar-main{
    border-radius: 5px;
    height: 20px;
    max-height: 100%;
}

.skills-bar-bg{
    width: 100%;
    background-color: var(--border-color);
}

.skills-bar-main{
    width: 0%;
    background-color: var(--secondary-color);
}

span.skills-percent{
    width: 0%;
    display: block;
    text-align: end;
}

.skills-percent::after{
    content: '%';
}

.title-bar > h6{
    position: absolute;
    width: auto;
}

ul.wcs-list{
    margin-bottom: 30px !important;
}

.icon-box{
    border-radius: 5px;
    overflow: hidden;
}

.box-left{
    padding-left: 0px;
    padding-right: 15px;
}

.box-right{
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 30px;
}

.icon-box > h4{
    margin-top: 25px;
    margin-bottom: 15px;
}

.box-hvr-primary:hover .icon-box > h4{
    color: white;
}